header h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
#container {
    display: grid;
    grid-template-areas:
        "L H H H"
        "N N N N"
        "M M M M"
        "F F F F";
    grid-template-columns: 1fr 3fr 3fr 3fr;
}