header h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
aside.DDinfluence {
    grid-area: D;
}
aside {
    background-color: #080808;
    color: white;
    padding: 10px 10px;
}
section#DD img{
    border: #458177 5px solid;
}
#container {
    display: grid;
    grid-template-areas:
        "L H H H"
        "N N N N"
        "M M M D"
        "M M M D"
        "F F F F";
    grid-template-columns: 1fr 3fr 3fr 3fr;
}
@media (width < 500px) {
    #container {
    grid-template-areas: 
    "H H H H"
    "N N N N"
    "M M M M"
    "D D D D"
    "F F F F";
    }
    #logo {
        display: none;
    }
    body {
        font-size: 16px;
    }
    img {
        width: 100%;
    }
}