body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0d0d0d;
}
a:hover {
    color: red;
}
header {
    color: white;
    padding: 20px auto; 
    grid-area: H;
    padding-top: 10px;
}
nav {
    grid-area: N;
    color: white;
    background-color: #1a1a1a;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
}
nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 20px;
    padding: 0 50px;
    justify-items: center;
}
nav a {
    color: white;
    text-decoration: none;
    margin: auto;
}
main {
    padding: 15px;
    color: white;
    grid-area: M;
}
#about p, #IBYB p, #TCFSR p {
    text-align: center;
}
footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 10px;
    grid-area: F;
}
#logo {
    grid-area: L;
    border-radius: 360px;
}
img {
    border-radius: 10px;
}
#container {
    display: grid;
    grid-template-areas:
        "L H H H"
        "N N N N"
        "M M M M"
        "F F F F";
    grid-template-columns: 1fr 3fr 3fr 3fr;
    /* grid-template-rows: auto; */
    /* grid-gap: 10px; */
}