body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0d0d0d;
}
header {
    font-size: 20px;
    text-align: center;
    color: white;
    padding: 20px auto; 
    grid-area: H;
    padding-top: 10px;
}
h2, p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
    color: white;
}
a:hover {
    color: red;
}

h2 a {
    color: white;
    text-decoration: none;
}
nav {
    grid-area: N;
    color: white;
    background-color: #1a1a1a;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
}
nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 20px;
    padding: 0 50px;
    justify-items: center;
    list-style-type: none;
}
nav a {
    color: white;
    text-decoration: none;
    margin: auto;
}
main {
    padding: 15px;
    color: white;
    grid-area: M;
    font-size: 20px;
}
#about p, #IBYB p, #TCFSR p {
    text-align: center;
}
footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 10px;
    grid-area: F;
}
#logo {
    grid-area: L;
    border-radius: 360px;
}
img {
    border-radius: 10px;
}